[worldserver]

###################################################################################################
#	BEASTMASTER NPC MODULE CONFIGURATION
#	This file controls the Beastmaster NPC module, allowing players to adopt and manage pets.
#	Copy this file to mod_npc_beastmaster.conf and adjust settings as needed.
###################################################################################################

# Enable or disable the Beastmaster module (default: 1)
BeastMaster.Enable = 1

# Enable only for the hunter class (default: 1)
BeastMaster.HunterOnly = 1

# Required level to adopt pets. (default: 10, 0 = disable)
BeastMaster.MinLevel = 10

# Hunters are required to have Beast Mastery to adopt exotic pets. (default: 1)
BeastMaster.HunterBeastMasteryRequired = 1

# Allow exotic pets for non-hunters (default: 0)
BeastMaster.AllowExotic = 0

# Keep pet always happy (default: 0)
BeastMaster.KeepPetHappy = 0

# Enable tracking of all tamed pets for hunters (default: 0)
BeastMaster.TrackTamedPets = 0

# Rare pets
# List only Entry IDs, comma-separated with no spaces (e.g. 123,456,789)
BeastMaster.RarePets="3068,32481,27483,11497,12803,16179,17882"

# Rare Exotic pets
# List only Entry IDs, comma-separated with no spaces (e.g. 123,456,789)
BeastMaster.RareExoticPets="32517,33776,35189,17447,38453,6585"
