[worldserver]

###################################################################################################
#	BEASTMASTER NPC
###################################################################################################

# Announce the module when the player logs in?

BeastMasterNPC.Announce = 1

# Enable only for the Hunter class?

BeastMasterNPC.HunterOnly = 0

# Allow Exotic Beast Taming without spec?

BeastMasterNPC.ExoticNoSpec = 0

# Pet Scale Value (float - default: 1.00)

BeastMaster.PetScale = .75
