[worldserver]

###################################################################################################
#	BEASTMASTER NPC
###################################################################################################

# Enable or disable the Beastmaster module (default: 1)
BeastMaster.Enable = 1

# Enable only for the hunter class (default: 1)
BeastMaster.HunterOnly = 1

# Required level to adopt pets. (default: 10, 0 = disable)
BeastMaster.MinLevel = 10

# Hunters are required to have Beast Mastery to adopt exotic pets. (default: 1)
BeastMaster.HunterBeastMasteryRequired = 1

# Allow exotic pets for non-hunters (default: 0)
BeastMaster.AllowExotic = 0

# Keep pet always happy (default: 0)
BeastMaster.KeepPetHappy = 0

# Enable tracking of all tamed pets for hunters (default: 0)
BeastMaster.TrackTamedPets = 0

# Normal pets
# (Now loaded from tames.json, this list is ignored)
BeastMaster.Pets=""

# Exotic pets
# (Now loaded from tames.json, this list is ignored)
BeastMaster.ExoticPets=""

# Rare pets
# List only Entry IDs, used to highlight rare pets in menu
BeastMaster.RarePets="3068,32481,27483,11497,12803,16179,17882"

# Rare Exotic pets
# List only Entry IDs, used to highlight rare exotic pets in menu
BeastMaster.RareExoticPets="32517,33776,35189,17447,38453,6585"
